body {
  background-color: rgb(240, 240, 240);
  font-family: sans-serif;
}

header {
  background-color: rgb(86, 43, 129);
}

h3 {
  margin: 0;
}

h1,
label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

textarea,
input {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 4px;
  width: 100%;
  padding: 7px;
}

button {
  background-color: rgb(86, 43, 129);
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
}

img {
  border-radius: 5px;
  height: 250px;
}

.white-open-sans {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.img-margin-bot {
  margin-bottom: 25px;
}

.padding-20 {
  padding: 10px 0;
}

.margin-5 {
  margin: 5px 0;
}

.margin-20 {
  margin: 20px 0;
}

.margin-25 {
  margin: 25px 0;
}

.button-right {
  text-align: right;
}

@media screen and (min-width: 768px) {
  img {
    height: 100%;
  }

  .padding-r-12 {
    padding: 0 12px 0 0;
  }

  .padding-l-12 {
    padding: 0 0 0 12px;
  }
}
