header {
  background-color: rgb(86, 43, 129);
}

h3 {
  margin: 0;
}

.white-open-sans {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.padding-20 {
  padding: 10px 0;
}
