body {
  background-color: rgb(240, 240, 240);
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: rgb(86, 43, 129);
}

h3,
h5 {
  margin: 0;
}

h1,
h2,
label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

textarea,
input {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 4px;
  width: 100%;
  padding: 7px;
}

button {
  background-color: rgb(86, 43, 129);
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
}

button:hover {
  cursor: pointer;
}

img {
  border-radius: 5px;
  height: 250px;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 25px;
}

a {
  background-color: rgb(86, 43, 129);
  padding: 5px 15px;
  border-radius: 4px;
}

a:hover {
  cursor: pointer;
}

i {
  color: rgb(86, 43, 129);
}

i:hover {
  cursor: pointer;
}

.white-open-sans {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.img-margin-bot {
  margin-bottom: 25px;
}

.padding-20 {
  padding: 10px 0;
}

.margin-5 {
  margin: 5px 0;
}

.margin-20 {
  margin: 20px 0;
}

.margin-20-l-r {
  margin: 0 20px;
}

.margin-25 {
  margin: 25px 0;
}

.button-right {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.delete-button {
  background-color: rgb(240, 240, 240);
  color: red;
  text-decoration: underline;
  padding: 0;
}

.cancel-button {
  background-color: rgb(182, 182, 182);
}

.confirm-button {
  background-color: rgb(220, 38, 38);
  color: white;
}

.modal-buttons {
  padding: 8px 10px;
}

.question {
  padding: 15px 0 35px;
}

.white-box {
  width: 300px;
  margin: auto;
  background-color: white;
  border-radius: 4px;
  padding: 15px;
}

.black-bg {
  position: fixed;
  inset: 0;
  display: flex;
  background-color: rgb(0 0 0/ 50%);
}

@media screen and (min-width: 768px) {
  h2 {
    margin: 0;
  }

  p {
    margin: 20px 0;
  }

  li {
    margin-bottom: 40px;
  }

  img {
    max-height: 500px;
    height: 100%;
  }

  .padding-r-12 {
    padding: 0 12px 0 0;
  }

  .padding-l-12 {
    padding: 0 0 0 12px;
  }
}
